$blue : #1F2438
$gold : #C3AE7C
$grey : #EFEFEF

.intro
    height: 83vh
    color: $gold

    & .intro__text
        width: 100%

        & .intro-upper
            display: grid
            grid-template-columns: max-content 1fr
            width: 100%
            
            & h1
                font-size: 7rem
                line-height: 6.5rem

            & .border-btm
                border-bottom: solid 0.3em $gold
                width: 100%

        & .intro-lower
            margin-top: 2rem

            & h5 
                font-size: 3rem
                font-weight: 700
                line-height: 4rem

            & span 
                font-size: 3rem
                border-bottom: 0.1em solid $blue
                color: $blue




    
